%flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

%absolutely-centered {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}